<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Favourite Breed?</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <style>
    .submit-button {
      color: white;
    }

    input[type="text"],
    input[type="number"] {
      background-color: black;
      color: white;
    }

    .custom-button {
      background-color: black; /* Replace with your desired color code */
      color: white; /* Replace with your desired text color */
      /* Add any additional styling as needed */
    }

    h3 {
      color: white;
    }

  </style>
</head>
<body style="background-color: black">
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <h3>Enter the id of your favourite breed!</h3>
      <br>
      <form action="#" th:action="@{/petapp/detailspage/deets}" method="post">
        <input type="number" name="id" placeholder="">
        <br>
        <br>
        <button class="custom-button" type="submit">Let's get more details!</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
