<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel = "stylesheet">
    <link th:href = "@{/css/main.css}" rel = "stylesheet">
</head>
<body style="background-color: black">
    <div class = "d-flex justify-content-center align-items-center vh-100">
        <div class = "row justify-content-center">
            <div class = "col-auto">
                <table class ="table table-borderless">

                    <thead>
                    <tr>
                        <th scope = "col" style="color: white">id</th>
                        <th scope = "col" style="color: white">Name</th>
                        <th scope = "col" style="color: white">Type</th>
                        <th scope = "col" style="color: white">Details</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="breed: ${breeds}">
                        <td style="color: white" th:text="${breed.id}"></td>
                        <td style="color: white" th:text="${breed.name}"></td>
                        <td style="color: white" th:text="${breed.type}"></td>
                        <td style="color: white" th:text="${breed.detail}"></td>
                    </tr>
                    </tbody>

                </table>
                <div class="corner-image">
                    <img th:src="@{/images/catimage.jpg}" alt="Your Image" width="167" height="200">
                </div>
                <br>
                <div class="text-center mt-3">
                    <a href="http://localhost:7000/petapp/detailspage/form" style="color: white; text-decoration: none;">Let's go!</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
