.container {
  position: relative;
}

.corner-image {
  position: absolute;
  top: 100px;
  left: 1000px;
}

.corner-image-final {
  position: absolute;
  top: 30px;
  left: 1000px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingimage {
    text-align: center;
}